/docker/src/content/vlmaps/lseg/checkpoints/*
/docker/src/content/5LpN3gDmAk7_1
/docker/src/content/5LpN3gDmAk7_1.zip
/rosbag_data/2024-03-20-13-57-17.bag
/docker/src/content/group_db/rgb
/docker/src/content/group_db/seg
/docker/src/content/meetwb_db/dbs
/docker/src/content/meetwb_db/rgb
/docker/src/content/meetwb_db/seg
/docker/src/content/meetwb_db/dbs
/docker/src/content/meetwb_db/rgb_pcd
/docker/src/content/meetwb_db/seg_pcd
/docker/src/content/meeti_db/rgb
/docker/src/content/meeti_db/seg
/docker/src/content/meeti_db/rgb_pcd
/docker/src/content/meeti_db/seg_pcd
/docker/src/content/meeti_db/dbs
/docker/src/content/meeti_s_db/rgb
/docker/src/content/meeti_s_db/seg
/docker/src/content/meeti_s_db/rgb_pcd
/docker/src/content/meeti_s_db/seg_pcd
/docker/src/content/meeti_s_db/dbs
/docker/src/content/meetnb_db/
/docker/src/content/meetnu_db/