# install dependencies
git+https://github.com/openai/CLIP.git
torch-encoding
ipython
pytorch-lightning
opencv-python
imageio[ffmpeg]
ftfy 
regex 
tqdm
altair
protobuf
timm
matplotlib
wandb
h5py
gdown
numpy
pynvml
open3d
pyrealsense2
