# install dependencies
git+https://github.com/openai/CLIP.git
torch-encoding
ipython
pytorch-lightning
opencv-python
imageio[ffmpeg]
ftfy 
regex 
tqdm
altair
protobuf
timm
matplotlib
wandb
h5py
gdown
numpy
pynvml

# install habitat
cmake==3.14.4
tensorflow-gpu==2.9.1
gym==0.22.0
openai==0.8.0
grad-cam
